<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


{% block content %}
    
    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}

        <fieldset>
            <legend><h1>{{question.question_txt}}</h1></legend>
            {% if error_message %}<p><strong>{{error_message}}</strong>{% endif %}
            {% for choice in question.choicequiz_set.all %} 
            <input type="radio" name="choicequiz" id="choice{{forloop.counter}}" value="{{choice.id}}">
            <label for="choice{{forloop.counter}}">{{choice.choice_txt}}</label>
            {% endfor %}
        </fieldset>
        <input type="submit" value="confirm you vote">
    </form>

    <a href="{% url 'index' %}"> click here to back homepage </a>

{% endblock %}

</body>
</html>