{% extends "base.html" %}

{% block content %} 

 <h3> {{action }} note </h3>

    <form method="POST" enctype="multipart/form-data">
        
        {% if form.errors %} 
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                Plese, check errors
                {{form.errors}}
            </div>
        {% endif %}
        
        
        {% csrf_token %}
        
        <label for="{{form.nome.id_for_label}}"> Question: </label>
            <div class="form-group col-12">
                {{form.question_txt.errors}}<br>
                {{form.question_txt}}
            </div>

        <label for="{{form.nome.id_for_label}}">Subject: </label>
            <div class="form-group col-12">
                {{form.subject.errors}}<br>
                {{form.subject}}
            </div>

        <label for="{{form.nome.id_for_label}}"> Description:</label>
            <div class="form-group col-12">
                {{form.description.errors}}<br>
                {{form.description}}   
            </div>


        <input type="submit" value="save" class="btn btn-sm btn-primary">
        
    </form>



{% endblock %}